<!--ユーザーの詳細画面-->
  <h2>User info</h2><!--ユーザー詳細-->
  
  <%= attachment_image_tag user, :profile_image, size:"63x63",format:'jpeg',fallback: "no_image.jpg" %>
  <table class='table'>
    <tbody>
      <tr></tr>
      <tr>
        <th>name</th>
        <th><%= user.name %></th>
      </tr>
      <tr>
        <th>introduction</th>
        <th><%= user.introduction %></th>
      </tr>
    </tbody>
  </table><!--ユーザー詳細-->

  <div><!--ユーザー編集ボタン-->
    <% if user.id == current_user.id %>
      <%= link_to edit_user_path(user) do %>
        <i class="btn btn-outline-secondary btn-block fas fa-user-cog"></i>
      <% end %>
    <% end %>
  </div><!--ユーザーの詳細-->