<!--ユーザーの詳細画面-->
<h2>Books</h2>

<% @books.each do |book| %><!--ユーザーが投稿したBook一覧-->
<div>
  <p>ユーザーアイコン</p>
  <%= link_to book_path(book.id) do %>
    <p>title: <%= book.title %></p>
  <% end %>
  <p>option: <%= book.body %></p>
</div>

<% end %><!--ユーザーが投稿したBook一覧-->

